<!--
<button type="button" class="btn btn-primary" 
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
Button with tooltip
</button>

-->

<!--  *ngIf <app-diretiva-ngif></app-diretiva-ngif> -->

<!-- ngSwitch <app-diretiva-ngswitch></app-diretiva-ngswitch>-->

<!-- ngFor <app-diretiva-ngfor></app-diretiva-ngfor> -->

<!-- ngClass <app-diretiva-ngclass></app-diretiva-ngclass> -->

<!-- ngStyle <app-diretiva-ngstyle></app-diretiva-ngstyle> -->

<!-- <app-diretiva-ngcontent> Conteúdo passado para o componente.
        <br>  <div class="titulo">Aula sobre Diretiva NG-CONTENT</div>
        <div class="corpo">É usado para criar componentes configuráveis.</div>
        <div class="corpo">Isso significa que os componentes podem ser configurados, dependendo das necessidades do usuário.</div>
        <div class="corpo">Essa situação é bem conhecida como projeção de conteúdo</div>
        <div class="conteudo">Comando  "ng-content select=".xxxxx" " </div>
</app-diretiva-ngcontent> -->
