<h1 appFundoAmarelo>Texto com fundo amarelo.</h1>

<button appFundoAmarelo><h3>Botão com fundo amarelo.</h3></button>
<br>
<br>

<p appHighlight>
    Texto com highlight quando passa o mouse. Usando @HostListener e @HostBinding. 
</p>

<p appHighlight>
    Nome: Aline Caleffi <br> 
    Idade: 25 anos <br>
    Formação: Ciência da Computação <br>
    Curso técnico: SENAI de Informática
</p>
<br>

<p [highlight]="'yellow'" [defaultColor]="'grey'">
    Texto com highlight com cores cutomizadas
</p>